.left-sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 10%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: #E5E5E5;
}
.left-sidebar .nav{
    color: #E5E5E5;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 90%;
    justify-content:space-between;
    padding: 0 0;
}
.nav .date{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.left-sidebar .spacing{
    height: 10%;
}
a.selezione{
    text-decoration: none;
    color: #E5E5E5;
    margin: 16px 0;
    padding: 22px 15px;
    border-radius: 10px;
    font-size: 80%;
}
a.selezione:hover, a.selezione:active{
    background-color: #D61A0C;
}
.active{
    background-color: #D61A0C;
}
@media(max-width: 650px){
    .left-sidebar{
        width: 20%;
        height: 100vh;
    }
    a.selezione{
        padding: 11px 7px;
        
    }
}