
    .wrapper{
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        scroll-behavior: smooth;
        
    }
    .section{
        scroll-snap-align: center;
        text-align: center;
        align-items: center;
        display: flex;
        flex: 0 0 100%;
        justify-content:space-around;
        padding-right: 5%;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .pagina{
        margin: auto;
    }

    .main-image{
        width: 600px;
    }
    .main-section-object{
        width: 50%;
        position: relative;
    }
    .spaziatura{
        height: 10vh;
    }
    .wrapper-go-gallery{
        display: flex;
        flex-direction:row;
        justify-content: flex-end;

    }
    .go-gallery{
        padding: 0 15px;
    }
    .paragrafo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        text-align: left;
        font-size: 15px;
        height: 100%;
        
    }
    p{
        max-height: 30vh;
        overflow-y: scroll;
        line-height: 24px;
    }
    .data-grande{
        font-size: 80px;
        position: absolute;
        bottom: -60px;
        left: -15px;
        font-style: normal;
    }
    .titolo-grande{
        font-size: 80px;
        position: absolute;
        top: 5px;
        right: -140px;
    }
    .nome-autore{
        font-size: 30px;
        font-weight: bold;
        align-self: flex-end;
        line-height: 48px;
        margin-bottom: 10%;
    }
    @media(max-width: 1400px){
        .section{
            flex-direction: column;
        }
        .paragrafo{
            width:70%;
        }
        .main-image{
            width: 80%;
        }
        .main-section-object{
            width: 60%;
        }
        .spaziatura{
            height: 5vh;
        }
        .nome-autore{
            display: none;
        }
        .wrapper-go-gallery{
            order: -1;
            margin-top: 5vh;
        }
    }